#a01 {
    color: blue;
}
body {
    width: auto;
    height: 400px;
    background-image: url("back.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
}
#a04 {
    position: fixed;
    top: 10px;
    left: 500px;
}