body {
    background-image: url("https://baldezh.top/uploads/posts/2021-12/1640356050_2-funart-pro-p-foni-dlya-stranits-na-saiti-2.jpg");
}
#header1{
    color: white;
}
#header2{
    color: white;
}