body {
    background-image: url("https://static.tildacdn.com/tild6633-6662-4435-a232-353137666436/1613514469_10-p-foni.jpeg");
}
#header1{
    color: white;
}
#header2{
    color: white;
}
#rectangle{
    height:999px;
    width: 250px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 30px;
    text-align: left;
    color: white;
    font-family: Calibri;
    font-size: large;
}
